.subject_questions{
    margin:5vh 10vw 5vh 10vw;
    color:rgb(246, 242, 239);
    text-decoration: none;
}
.subject_items_display{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
}

.subject_header{
    margin-bottom:3vh;
    font-size:1.5rem;
}

.subject_items{
    width:48.5%;
    float:left;
    margin-bottom:5vh;
    background: rgb(55, 62, 70);
    border: 2px solid rgb(28, 32, 36);
    border-radius:10px;
    text-decoration: none;
}

.subject_items:hover{
    width:48.5%;
    float:left;
    color:rgb(246, 242, 239);
    margin-bottom:5vh;
    background: rgb(38, 43, 49);
    border: 2px solid rgb(28, 32, 36);
    box-shadow: 0 10px 16px rgb(28, 32, 36);
    border-radius:10px;
    text-decoration: none;
}

.subject_items_header{
    width:95%;
    margin:2vh 0 4vh 2vw;
    font-size:2rem;
    float:left;
    color:rgb(246, 242, 239);
}
.subject_items_rate{
    margin:2vh 2vw 4vh 0;
    font-size:1rem;
    float:right;
    color:rgb(102, 101, 100);
}

.subject_items_button{
    width:95%;
    margin:2vh 2vw 2vh 2vw;
    font-size:2rem;
}

.language_item{
    width:33.33333%;
    padding:2vh 0 2vh 2vw;
    background: rgb(55, 62, 70);
    border: 1px solid rgb(28, 32, 36);
    font-size:2rem;
    color:rgb(246, 242, 239);
    text-decoration: none;
}
.language_item:hover{
    width:33.33333%;
    padding:2vh 0 2vh 2vw;
    background: rgb(55, 62, 70);
    border: 1px solid rgb(28, 32, 36);
    box-shadow: 0 5px 8px rgb(28, 32, 36);
    z-index:555;
    color:rgb(246, 242, 239);
    font-size:2rem;
    text-decoration: none;
}

.language_item_logo{
    color: rgb(28, 32, 36);
    float: left;
    padding-right: 1rem;
    text-decoration: none;
}

.kit_subjects_display{
    display:flex;
    flex:wrap;
    
    justify-content: space-between;
}

.kit_subjects{
    padding:10vh 0 10vh 0;
}

.kit_items{
    width:31%;
    float:left;
    margin-bottom:5vh;
    background: rgb(55, 62, 70);
    border: 2px solid rgb(28, 32, 36);
    border-radius:10px;
    text-decoration: none;
}
.kit_items:hover{
    width:31%;
    float:left;
    margin-bottom:5vh;
    background: rgb(38, 43, 49);
    border: 2px solid rgb(28, 32, 36);
    box-shadow: 0 10px 16px rgb(28, 32, 36);
    border-radius:10px;
    text-decoration: none;
}

