.problem {
    background:rgb(55, 62, 70);
    overflow: hidden;
    flex-direction: row;
    top: auto;
    left:0;
    bottom:0;
    right:0;
    height:100vh;
    width:100%;
  }

.problem_info_wrapper {
  background: rgb(55, 62, 70);
  height: 60px;
  display: relative;
  font-size: 0.8rem;
  padding-left:4vw;
  color: rgb(246, 242, 239);
  }

.problem_description_wrapper {
    background-color: rgb(38, 43, 49);
    width: 49.5%;
    height: 100vh;
    display: relative;
    margin: 0 auto;
    float: left;
  }

.problem_description_content{
  white-space: pre-line;
  padding: 2vw 2vw 2vw 2vw
  }

.problem_description_text{
  white-space: pre-wrap;
  color: rgb(246, 242, 239);
  }

  .problem_description_text_example{
    background-color: rgb(54, 57, 61);
    padding: 1rem 1rem 1rem 1rem;
  }
  

.problem_solution_wrapper {
  background-color: rgb(38, 43, 49);
  width: 49.5%;
  height: 100vh;
  display: relative;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
  float: right;
  }

  @media screen and (max-width: 960px) {
    .problem_info { 
     float: none;
     margin-right:0;
     width:auto;
     border:0;
     border-bottom:2px solid #000;    
   }
 }
  