  .horizontal{
    display: absolute;
  }
  
  .horizontal_short{
    display: absolute;
    width:50%;
    padding-bottom:2rem;
  }

  .dashboard_container {
    display: relative;
    flex-flow: column;
    align-items: center;
    margin: 10vh auto;
    width: 75%;
    float: left;
    padding-left:10vw;
  }

  .checkbox_options_container {
    display: relative;
    flex-flow: column;
    align-items: center;
    margin: 0 auto;
    width: 23%;
    float: right;
  }
  
  .checkbox_options_wrapper {
    position: relative;
    margin: 10vh 0 4.5vh;
  }

  .checkbox_options_items{
    color: rgb(246, 242, 239);
    font-size:1.4rem;
    padding-bottom:1rem;
  }
  
  .row_item {
    display: flex;
    flex-flow: column;
  }

  .row_item_info {
    color: rgb(246, 242, 239);
    text-decoration:none;
    padding: 0 3vw 0 3vw;
    overflow: hidden;
    display:flex;
    height:15vh;
    justify-content: space-between;
    background-color: rgb(55, 62, 70);
    box-shadow: 0 10px 16px rgb(38, 43, 49);
    align-items:center;
  }
  
  .row_item_info:hover {
    color: #6cadd8;
    background-color: rgb(38, 43, 49);
    box-shadow: 0 10px 16px rgb(28, 32, 36);
  }

  .row_item_header {
    padding: 0 2vw 2vw 5vh;
    overflow: hidden;
    color: rgb(246, 242, 239);
  }
  
  .row_item_text {
    float:left;
    font-size: 1.4rem;
    width:55%;
    padding-right:2vw;
  }

  .row_item_text_other {
    float:left;
    font-size: 1.3rem;
    width:15%;
    padding-left:2vw;
  }

  .kit_row_item_info{
    color: rgb(246, 242, 239);
    text-decoration: none!important;
    padding: 0 3vw 0 3vw;
    display:flex;
    overflow: hidden;
    height:15vh;
    justify-content: space-between;
    background-color: rgb(55, 62, 70);
    box-shadow: 0 10px 16px rgb(38, 43, 49);
    align-items:center;
  }

  .kit_row_item_info:hover {
    color: #6cadd8;
    background-color: rgb(38, 43, 49);
    box-shadow: 0 10px 16px rgb(28, 32, 36);
  }

  .kit_row_items{
    width:70%;
    float: left;
  }

  .kit_row_button{
    font-size:1.8rem;
    width:30%;
    float:right;
    display: flex;
    justify-content: flex-end;
  }

  .kit_row_item_text{
    font-size: 1.8rem;
    padding-bottom:0.7vh;
    width: 100%;
  }
  

  .kit_row_item_description{
    font-size: 1rem;
    width: 100%;
  }

  @media screen and (max-width: 1024px) {
    .dashboard_container {
      width: 75%;
    }
    .checkbox_options_container {
      width: 23%;
    }

    .row_item_info {
      height:13vh;
    }
    
    .row_item_text {
      float:left;
      font-size: 1.2rem;
      width:55%;
    }
  
    .row_item_text_other {
      float:left;
      font-size: 1.1rem;
      width:15%;
    }

    .checkbox_options_items{
      font-size:1.3rem;
      padding-bottom:1rem;
    }

    .horizontal_short{
      display: absolute;
      width:70%;
      padding-bottom:2rem;
    }

    .dashboard_container {
      width: 80%;
    }

    .checkbox_options_container {
      width: 17%;
    }

    .kit_row_item_text{
      font-size: 1.6rem;
    }
    
  
    .kit_row_item_description{
      font-size: 0.8rem;
    }
    .btn_large{
      font-size:1.2rem;
    }
  }

  @media screen and (max-width: 768px) {
    .dashboard_container {
      width: 100%;
      padding-right:10vw;
    }
    .checkbox_options_container {
      display:none;
    }
    .row_item_text {
      float:left;
      font-size: 1rem;
      width:40%;
    }
  
    .row_item_text_other {
      float:left;
      font-size: 0.9rem;
      width:20%;
    }

    .kit_row_item_text{
      font-size: 1.4rem;
    }
    
  
    .kit_row_item_description{
      font-size: 0.7rem;
    }
    .btn_large{
      font-size:1rem;
      padding: 2vh 2vw 2vh 2vw;
    }
  }