  .cards {
    background:rgb(38, 43, 49);
    overflow: auto;
    padding-bottom: 200px;
  }

  .info {
    background: rgb(55, 62, 70);
    padding-top: 1vw;
    padding-left: 10vw;
    height: 120px;
    display: relative;
    font-size: 1.2rem;
    top: 0;
    z-index: 999;
    color: rgb(246, 242, 239);
  }
  
  .subjectSelectors{
    display: relative;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    float: left;
    padding:2rem 0rem 2rem 9rem;
    padding-bottom:2rem;
  }
  .subjects{
    color: #6cadd8;
    float: left;
    padding-right: 0.3rem;
  }
  .algorithm{
    color: #fca535;
    float: left;
    padding-right: 0.3rem;
  }
  .database{
    color: #b66cd8;
    float: left;
    padding-right: 0.3rem;
  }
  .script{
    color: #62df49;
    float: left;
    padding-right: 0.3rem;
  }
  .data-structures{
    color: #f35151;
    float: left;
    padding-right: 0.3rem;
  }

  .horizontal{
    display: absolute;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .horizontal2{
    display: absolute;
    margin-right: 10rem;
    padding-bottom:2rem;
  }

  .cards__container {
    display: relative;
    flex-flow: column;
    align-items: center;
    margin: 0 auto;
    width: 75%;
    float: left;
    padding-left:9rem;
  }

  .options__container {
    display: relative;
    flex-flow: column;
    align-items: center;
    margin: 0 auto;
    width: 23%;
    float: right;
  }
  
  .options__wrapper {
    position: relative;
    margin: 50px 0 45px;
  }

  .options__items{
    color: rgb(246, 242, 239);
    font-size:25px;
    padding-bottom:1rem;
  }
  
  .cards__items {
    margin-bottom: 24px;
  }
  
  .cards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    background-color: rgb(55, 62, 70);
    
  }

  .cards__item:hover {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    background-color: rgb(38, 43, 49);
  }
  
  .cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    /*box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;*/
    overflow: hidden;
    text-decoration: none;
  }
  
  .cards__item__info {
    padding: 20px 30px 30px;
    overflow: hidden;
    color: rgb(246, 242, 239);
  }
  
  .cards__item__info:hover {
    padding: 20px 30px 30px;
    overflow: hidden;
    color: #6cadd8;
  }

  .cards__item__header {
    padding: 20px 30px 30px;
    overflow: hidden;
    color: rgb(246, 242, 239);
  }
  
  .cards__item__text {
    float:left;
    font-size: 18px;
    line-height: 24px;
    width:55%;
  }
  .cards__item__difficulty {
    float:left;
    font-size: 18px;
    line-height: 24px;
    width:15%;
  }
  .cards__item__level {
    float:left;
    font-size: 18px;
    line-height: 24px;
    width:15%;
  }
  .cards__item__acceptance {
    float:left;
    font-size: 18px;
    line-height: 24px;
    width:15%;
  }


  @media only screen and (min-width: 1200px) {
    .cards__container {
      width: 75%;
    }
    .options__container {
      width: 23%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: relative;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }