.navbar {
  background: rgb(28, 32, 36);
  height: 12vh;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  top: 0;
  z-index: 999;
}

.navbar_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
}

.navbar_logo {
  color: rgb(246, 242, 239);
  justify-self: start;
  padding-left: 10vw;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav_menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  justify-content: start;
}

.nav_item {
  height: 80px;
}

.logo{
  color:#6cadd8;
}
.nav_links {
  color: rgb(246, 242, 239);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding:0rem 1rem 0rem 1rem;
  height: 100%;
}

.nav_links:hover {
  border-bottom: 4px solid #6cadd8;
  transition: all 0.2s ease-out;
  color: rgb(246, 242, 239);
  padding:-2rem 1rem 0rem 1rem;
}

.fa-bars {
  color: rgb(246, 242, 239);
  top:0;
  left:0;
}

.nav_links_mobile {
  display: none;
}

.menu_icon {
  display: none;
}

.nav_btn {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  float:right;
  margin-right:5vw;
}

@media screen and (max-width: 1024px) {
  .navbar {
    font-size: 2rem;
  }
  
  .nav_menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: -0px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    color:rgb(28, 32, 36);
  }

  .nav_menu.active {
    background: rgb(28, 32, 36);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav_links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav_links:hover {
    background-color: rgb(246, 242, 239);
    color: #242424;
    border-radius: 0;
  }

  .navbar_logo {
    top: 0;
    left: 0;
  }
  .menu_icon {
    font-size: 2rem;
    display:flex;
    width:100%;
    justify-content: flex-end;
    margin-right:5vw;
  }

  .fa-times {
    color: rgb(246, 242, 239);
    font-size: 2rem;
  }

  .nav_links_mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: rgb(246, 242, 239);
    padding: 14px 20px;
    border: 1px solid rgb(246, 242, 239);
    transition: all 0.3s ease-out;
  }

  .nav_links_mobile:hover {
    background: rgb(246, 242, 239);
    color: #242424;
    transition: 250ms;
  }
  .nav_btn {
    justify-content: center;
    display: none;
    align-items: center;
    font-size:2rem;
  }
}