:root {
  --primary: rgb(246, 242, 239);
  --secondary: rgb(28, 32, 36);
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
}

.btn_primary {
  background-color: var(--primary);
  color: var(--secondary);
  border: 1px solid var(--primary);
}

.btn_outline {
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn_outline_black {
  background-color: transparent;
  color: var(--secondary);
  padding: 8px 20px;
  border: 1px solid var(--secondary);
  transition: all 0.3s ease-out;
}

.btn_rounded{
  background-color: transparent;
  color: var(--primary);
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
  border-radius: 50px;
}

.btn_rounded_black{
  background-color: transparent;
  color: var(--primary);
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
  border-radius: 10px;
}

.btn_medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn_large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn_large:hover,
.btn_medium:hover {
  transition: all 0.3s ease-out;
  background: var(--primary);
  color: var(--secondary);
  transition: 250ms;
}

.btn_outline_black:hover {
  background-color: var(--secondary);
  color: var(--primary);
  padding: 8px 20px;
  border: 1px solid var(--secondary);
  transition: all 0.3s ease-out;
}

.btn_rounded_black::hover{
  background-color: var(--primary);
  color: var(--primary);
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
  border-radius: 10px;
}
