* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
::-webkit-scrollbar{
  width:10px;
}

::-webkit-scrollbar-track{
  background:rgb(38, 43, 49);
}

::-webkit-scrollbar-thumb{
  background-color: rgb(246, 242, 239);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: rgb(55, 62, 70);
}