.editor {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  flex-direction: row;
}

.editor_info {
  background: rgb(55, 62, 70);
  height: 10vh;
  display: relative;
  font-size: 0.8rem;
  color: rgb(246, 242, 239);
  overflow: hidden;
  flex-direction: row;
}

.editor_selectbox {
  width: 10vw;
  padding-top: 2.5vh;
  font-size: 1rem;
  float: left;
}

.editor_logos {
  display: relative;
  float: right;
  font-size: 1.5rem;
  padding-top: 2.5vh;
  padding-right: 1.5rem;
  color: rgb(246, 242, 239);
}

.editor_logos:hover {
  color: rgb(197, 191, 186);
}

.editor_output {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

.loading_animation {
  display: flex;
  align-items: center;
}

.editor_output_header {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: rgb(246, 242, 239);
}

.output_hidden {
  display: none;
}

.editor_submit {
  padding-left: 1rem;
  padding-top: 1rem;
}

.editor_output_content {
  background-color: rgb(54, 57, 61);
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  font-size: 1.2rem;
  color: rgb(246, 242, 239);
}

.ace_editor,
.ace_editor * {
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas",
    monospace !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  letter-spacing: 0 !important;
}
